@model CoffeeShopNew.Models.Products[]
    
@{
    ViewData["Title"] = "Our Products";
}

<h1>Our Products</h1>
<div>
    @{
        foreach (var curr in Model)
        {
            <a href="/Home/Details?productId=@curr.Id">@curr.Description</a><br />
        }
    }
</div>